
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto&display=swap');

@mixin themeBtn {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 10px #E8E8E8 inset;
  height: 30px;
  margin: 0 0 0 25px;
  width: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  position: absolute;
  right: 10px;
  top: 10px;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

////////  TITLE SIZE /////////
@for $i from 1 through 6 {
  h#{7 - $i} {
      font-size: 2.4em / 6 * $i;
      font-family: 'Hammersmith One', sans-serif;
  }
}

p {
  font-size: 1.25em;
  padding-left: 10px;
  padding-right: 10px;
}


////////  COLORS /////////
$white: #FFFFFF;
$black: #121212;

$primary-dark: #BB86FC;
$variant-dark: #3700B3;
$secondary-dark: #03DAC6;

$primary: #085b48;
$variant: #1aae8b;
$secondary: #f0394d;
/////////////////////////


.nav {
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  justify-content: center;
  height: 5%;

    a {
      padding-right: 20px;
    }

    a:hover {
      text-decoration: none;
      font-size: larger;
    }

}

h1 {
  height: 14vh;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 3vh;
  text-transform: uppercase;
  font-size: 3em;
  border-bottom: 1vh solid rgb(231, 231, 231);
  justify-content: space-between;

}

h2 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.home {


  .homeContainer {
    display: flex;
    flex-direction: row;
  }

  #imageHome {
    width: 60%;
    height: 73vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
  }

  p {
    width: 35%;
    padding-left: 5px;
    text-align: right;
    line-height: 1.75;
  }
}

.navWork {
  padding: 1rem 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: lighter;
  }

}

.dark {

  font-family: sans-serif;
  background-color: $black;
  text-align: center;
  color: $white;
  min-height: 100vh;
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;

    select {
      @include themeBtn();
      background-image: url(https://cdn.pixabay.com/photo/2016/11/25/23/15/moon-1859616_960_720.jpg);
      background-color: rgb(2, 13, 41);
      border: none;
      transition: background 1.3s ease-in-out, 1.6s ease-in-out;

    }

    .nav{
      background-color: $secondary-dark;
      transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
    }

    nav a {
      color: $black;
      &:hover{
        color:$white
      }
  }

  .navWork a {
    color: $primary-dark;
  }

  h1 {
    color: $primary-dark;
    border-bottom: 1vh solid rgb(43, 43, 43);

  }
////////  TITLE COLOR/////////
@for $i from 1 through 5 {
  h#{7 - $i} {
      color: $variant-dark
  }
}

}


.light {
  font-family: sans-serif;
  text-align: center;
  color: $black;
  background-color: $white;
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;


  select {
    @include themeBtn();
    background-image: url(https://cdn.pixabay.com/photo/2018/08/06/22/55/sun-3588618_960_720.jpg);
    background-color: rgb(17, 167, 212);
    transition: background 1.3s ease-in-out, 1.6s ease-in-out;
  }

  .nav{
    background-color: yellow;
    transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
  }

  nav a {
    color: $black;
    &:hover{
      color:$black;
    }
  }


  h1 {
    color: rgb(41, 41, 41);
  }
  ////////  TITLE COLOR/////////
  @for $i from 1 through 5 {
    h#{7 - $i} {
        color: $variant;
    }

    #imageHome {
      background-image: url(https://images.pexels.com/photos/930530/pexels-photo-930530.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    }

}

}